<h1><u>Events Information</u></h1>
<br /><br />

<h3><u>List of Events</u></h3>
    <div class="example-container mat-elevation-z8">

      <mat-card id="digital-day" style="text-align: center;">
        <mat-card-title>
          <h2>Digital Day</h2>  
          <p>4 hours events to create the interest in the digital technologies</p>  
        </mat-card-title>
        <mat-card-content >
          <h4>Content</h4>
          <p>Demonstrate google applications: Assistant, Earth, Translate, Lens, Camera, 3D Animals, Cardboard</p>
          <p>Show the Demo of gaming console such as Microsoft XBox and Sony Wii</p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      <mat-card id="digital-challenge" style="text-align: center;">
        <mat-card-title>
          <h2>Digital Challenge</h2>  
          <p>4 hours competition in Visual Programming</p>  
        </mat-card-title>
        <mat-card-content >
          <h4>Content</h4>
          <p>The team will be given a visual programming challenge</p>
          <p>The team which completes the challenge in shortest possible time will be awarded</p>
          <p>The team which solves the challenge in minimum number of steps will also be awarded</p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      <mat-card id="digital-security" style="text-align: center;">
        <mat-card-title>
          <h2>Digital Security</h2>  
          <p>4 hours competition in Digital Security</p>  
        </mat-card-title>
        <mat-card-content >
          <h4>Content</h4>
          <p>The team will study different kinds of online frauds and strategy to prevent them</p>
          <p>The team with the best presentation shall be awarded</p>
          <br/><br/>
        </mat-card-content>
      </mat-card>
      
      <mat-card id="tangaram-challenge" style="text-align: center;">
        <mat-card-title>
          <h2>Tangaram Challenge</h2>  
          <p>4 hours competition using Tangaram</p>  
        </mat-card-title>
        <mat-card-content >
          <h4>Content</h4>
          <p>Tangaram is used to create different figures</p>
          <p>3 top person who creates maximum number of figures be awarded</p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      <mat-card id="rubic-challenge" style="text-align: center;">
        <mat-card-title>
          <h2>Rubic Cube Challenge</h2>  
          <p>4 hours competition solving Rubic  Cube</p>  
        </mat-card-title>
        <mat-card-content >
          <h4>Content</h4>
          <p>People participating in this challenge needs to buy a rubic  cube</p>
          <p>Top 3 students solving the rubic cube in minimum time will be awarded</p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      <mat-card id="sudoko-challenge" style="text-align: center;">
        <mat-card-title>
          <h2>Sudoko Challenge</h2>  
          <p>4 hours competition solving Sudoko</p>  
        </mat-card-title>
        <mat-card-content >
          <h4>Content</h4>
          <p>There shall be 3 levels to this game</p>
          <p>Team crossing all the 3 levels shall will be awarded</p>
          <br/><br/>
        </mat-card-content>
      </mat-card>


      </div>
<br /><br /><br />
