.example-container {
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  min-width: 300px;
}
  
h1 , h2 , h3 , h4 , h5 , h6 {
  text-align: center;
}

mat-card-content {
  text-align: left;
}
