<h1><u>School Workshops</u></h1>
<br /><br />

<div class="example-container mat-elevation-z8">

  <mat-tab-group>
    <mat-tab label="Python">
      <mat-card id="digital-day" style="text-align: center;">
        <mat-card-title>
          <h3>Python Programming</h3>
        </mat-card-title>
        <mat-card-content>
          <p>Python is worlds easiest language. It is used in IT Administration, Gaming, IOT, Security, and most
            importantly
            in Data Science, Artificial Intelligence and Machine Learning. So with this language we are preparing our
            students for the next generation of technology way
          </p> <br />
          <p>The beauty of Python is that for imparting this knowledge we don't need specialized hardware or software.
            We can start with our existing hardware and with good internet connection. Company like googles provide
            all applications and libraries free for learning these technologies. There are NO licensing fees for
            anything.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4><br>
          <p>Coming Soon </p>
          <br /><br />
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Visual Programming">
      <mat-card>
        <mat-card-title>
          <h3>Visual Programming</h3>
        </mat-card-title>
        <mat-card-content>
          <p>We learn programming by playing games visually. Again this plaform is free on the internet. It has been
            promoted
            in many schools in the United States of America. Students progress are tracked and they earn the certificate
            after completing each course.
          </p> <br />
          <p>The application is free and it doesn't required any specialized hardware or software.
            We can start with our existing hardware and with good internet connection.
            The visual programs are translated to Java code.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4><br>
          <p>Coming Soon </p>
          <br /><br />
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Electronics">
      <mat-card>
        <mat-card-title>
          <h3>Electronics</h3>
        </mat-card-title>
        <mat-card-content>
          <p>We learn electronics circuit design by playing using virtual platforms. We get different components
            and connect them on computer. We even test their working and if there are any error computer will guide us.
          </p> <br />
          <p>We start with simple circuits and then slowly transition to micro-controller programming arduino.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4><br>
          <p>Coming Soon </p>
          <br /><br />
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>