<h1><u>Quiz Information</u></h1>
<br /><br />

<h3><u>List of Quizzes</u></h3>
    <div class="example-container mat-elevation-z8">

      <mat-card id="general-knowledge" style="text-align: center;">
        <mat-card-title>
          <h2>Gen. Knowledge Quiz</h2>  
          <p>Basic / Advance</p>  
        </mat-card-title>
        <br /><br />
        <mat-card-content >
          <h4>Content</h4>
          <p>Basic is for students of from 5th to 7th standard</p>
          <p>Advanced is for students of from 7th to 9th standard</p>
          <p>Top 3 students shall be awarded certificate after completion of each level. 
          </p>
          <br/><br/>
        </mat-card-content>
      </mat-card>
      
      <mat-card id="it-olympiad" style="text-align: center;">
        <mat-card-title>
          <h2>IT Olympiad Quiz</h2>  
          <p>Information Technology</p>  
        </mat-card-title>
        <br /><br />
        <mat-card-content >
          <h4>Content</h4>
          <p>This Quiz on Computer knowledge is for students from 5th to 9th standard</p>
          <p>Top 3 students shall be awarded certificate. 
          </p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      <mat-card id="Python" style="text-align: center;">
        <mat-card-title>
          <h2>Python Quiz</h2>  
          <p>Basic / Intermediate / Advance</p>  
        </mat-card-title>
        <mat-card-content >
          <h4>Content</h4>
          <p>Basic is for students of 8th standard</p>
          <p>Intermediate is for students of 9th standard</p>
          <p>Advance is for students of 11th and 12th standard</p>
          <p>Top 3 students shall be awarded certificate after completion of each level. 
            This certificate is valid for one years.
          </p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      <mat-card id="Mathematics" style="text-align: center;">
        <mat-card-title>
          <h2>Mathematics Quiz</h2>  
          <p>Basic / Advance</p>  
        </mat-card-title>
        <br /><br />
        <mat-card-content >
          <h4>Content</h4>
          <p>Basic is for students of from 5th to 7th standard</p>
          <p>Advanced is for students of from 7th to 9th standard</p>
          <p>Top 3 students shall be awarded certificate after completion of each level. 
          </p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      <mat-card id="Science" style="text-align: center;">
        <mat-card-title>
          <h2>Science Quiz</h2>  
          <p>Basic / Advance</p>  
        </mat-card-title>
        <br /><br />
        <mat-card-content >
          <h4>Content</h4>
          <p>Basic is for students of from 5th to 7th standard</p>
          <p>Advanced is for students of from 7th to 9th standard</p>
          <p>Student shall be awarded certificate after completion of each level. 
          </p>
          <br/><br/>
        </mat-card-content>
      </mat-card>

      </div>
<br /><br /><br />
