<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  ZY Innovators
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/images/logo.png"
    />

    <h4 class="name">ZY</h4>
    <p class="designation">Innovators</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Organization</span>
    </button>
    <ul type="none">
      <li>
        <button mat-button class="menu-button" routerLink="/school">
          <mat-icon>auto_stories</mat-icon>
          <span>Schools</span>
        </button>
      </li>
      <li>
        <button mat-button class="menu-button" routerLink="/college">
          <mat-icon>school</mat-icon>
          <span>College</span>
        </button>
      </li>
      <li>
        <button mat-button class="menu-button" routerLink="/quiz">
          <mat-icon>emoji_events</mat-icon>
          <span>Quiz</span>
        </button>
      </li>
      <li>
        <button mat-button class="menu-button" routerLink="/events">
          <mat-icon>event</mat-icon>
          <span>Events</span>
        </button>
      </li>
    </ul>
    
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Contacts</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
