<h1><u>College Workshops</u></h1>
<br /><br />

<div class="example-container mat-elevation-z8">

  <mat-tab-group>

    <mat-tab label="Electronics">
      <mat-card>
        <mat-card-title>
          <h3>Electronics</h3>
        </mat-card-title>
        <mat-card-content>
          <p>We learn electronics circuit design by playing using virtual platforms. We get different components
            and connect them on computer. We even test their working and if there are any error computer will guide us.
          </p> <br />
          <p>We start with simple circuits and then slowly transition to micro-controller programming arduino.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4><br>
          <p>Thane Road, Gauripada, Bhiwandi, District Thane</p>
          <br /><br />
        </mat-card-content>
      </mat-card>

    </mat-tab>

    <mat-tab label="Robotics">
      <mat-card>
        <mat-card-title>
          <h3>Robotics</h3>
        </mat-card-title>
        <mat-card-content>
          <p>This is advance workshop and designed for Computer Science, Engineering and Information Technology
            Students.
            The workshop starts with arduino programming, instroduction to various sensors and actuators and connecting
            them
            to create a simple robot.
          </p> <br />
          <p>We test the robot using virtual circuits using arduino and then use the real arduino board to create the
            working robot.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4>
          <p>Thane Road, Gauripada, Bhiwandi, District Thane</p>
          <br /><br />
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Cloud Computing">
      <mat-card>
        <mat-card-title>
          <h3>Cloud Computing</h3>
        </mat-card-title>
        <mat-card-content>
          <p>This is advance workshop and designed for Computer Science, Engineering and Information Technology
            Students.
            The workshop starts with simple machine creation, creating a simple web application on it and then exposing
            it to the outside world.
            It further introduces the concept of load balancing.
          </p> <br />
          <p>We start with creating a reponsive local web application then moving it to cloud.
            Running and debugging web application on the cloud.
            Then accessing the same application using mobile.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4>
          <p>Thane Road, Gauripada, Bhiwandi, District Thane</p>
          <br /><br />
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Internet of Things">
      <mat-card>
        <mat-card-title>
          <h3>Internet of Things - IOT</h3>
        </mat-card-title>
        <mat-card-content>
          <p>This is advance workshop and designed for Computer Science, Engineering and Information Technology
            Students.
            This workshop is conducted after cloud workshop, here we connect the raspberry pi as an IOT device to
            cloud application.
          </p> <br />
          <p>We configure and connect the raspberry pi as an IOT device, connect to the web application. Change our
            web application to control the device using our mobile.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4>
          <p>Thane Road, Gauripada, Bhiwandi, District Thane</p>
          <br /><br />
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Home Automation">
      <mat-card>
        <mat-card-title>
          <h3>Home Automation</h3>
        </mat-card-title>
        <mat-card-content>
          <p>This is advance workshop and designed for Computer Science, Engineering and Information Technology
            Students.
            In this workshop we use the raspberry pi to control the devices in our home.
          </p> <br />
          <p>We develop a simple web application that controls the light and fans using rasberry pi output pins.
            Then control these using our mobile phone.
          </p>
          <br /><br />
          <h4><u>Topics</u> </h4>
          <p>Thane Road, Gauripada, Bhiwandi, District Thane</p>
          <br /><br />
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>


</div>